!!! 5
html
  head
    title browser-require relative module example
  body
    #answer
    script(type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type: 'text/javascript', src: '/js/app.js')
